.Header-wrapper {
  background-color: #333;
  color: #eaeaea;
  height: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.Header-body h2 {
  margin-top: 0.83em;
  margin-bottom: 10px;
}

.Header-body span {
  display: block;
  margin-bottom: 0.83em;
}

.Header-body a,
.Header-body a:active,
.Header-body a:hover,
.Header-body a:visited {
  color: #fff;
}

