.Status-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 40px 0px 40px;
  color: rgba(0, 0, 0, 0.9);
}

.Status-body {
  width: 100%;
  display: flex;
  background: #eaeaea;
  flex-direction: column;
  justify-content: center;
}

.Status-temperature,
.Status-state {
  flex: 1;
  padding: 20px;
  border: 1px solid #fff;
}

.Status-temperature h3,
.Status-state h3,
.Status-temperature h4,
.Status-state h4{
  display: inline;
  margin-right: 10px;
}

.Status-time span {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.Status-footer {
  padding-top: 20px;
}
